{{#each newAccErrors}}
    <div class="alert alert-danger">{{text}}</div>
{{/each}}

<div class="container mt-5">
    <h2>Welcome to login</h2>
    <form action="/users/signin" method="POST">
        <div class="mb-3">
            <label for="signUserEmail" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="signUserEmail" name="signUserEmail" required>
        </div>
        <div class="mb-3">
            <label for="signUserPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="signUserPassword" name="signUserPassword" required>
        </div>
        <button type="submit" class="btn btn-secondary">Sign in</button>
    </form>
</div>
