<div class="card">
    <div class="card-body">
            <h4>Do you want register or log in?</h4>
            <div class="mt-4">
                <a href="/users/register"><button class="btn btn-success">Register</button></a>
                <a href="/users/credentials"><button class="btn btn-secondary">Sign In</button></a>
            </div>
    </div>
</div>